.padding-top{
    padding-top: 5em;
}
.secondery-section-background{
    background: #f6f6f6;
}
.hero-img-background{
    position: absolute;
    width: 350px;
    height: 600px;
    left: -5em;
    top: -3em;
    background: #092b46;
    z-index: -1;
}
/* top margin of the hero */
.margin-top{
    margin-top: 4.2em;
    z-index: 1;
}
/* for all h1,-h6 teg */
.font-big{
    font-size: 4.5em;
    color: #092b46;
    line-height: 5rem;
}
/* for all paragraph  */
.font-p{
    font-size: 19px;
    line-height: 1.8rem;
}
.btn-padding{
    padding: 1rem 2rem;
}