/* root style for header */
:root {
    --primary-light : #1e93e4;
    --primary-dark : #1171e0;
    --primary : linear-gradient(to top left,var(--primary-dark),var(--primary-light));
    --pure : #fdfeff;
}
/* primary background of header */
.nav-bar{
    background: var(--pure);
}
/* primary-background use all */
.primary-background{
    background: var(--primary);
}
.primary-color{
    color: var(--primary-dark);
}
/* padding for header */
.padding{
    padding: 2em 0;
}
/* resize the header padding on this brackpoint */
@media screen and (max-width: 767px) {
    .padding{
        padding:1em 0;
    }
}